{% extends "base.html.twig" %}
{% block title %}
    Home
{% endblock title %}
{% block body %}
    <div class="row">
        <h1>Bienvenue dans home</h1>
        <p>
            Vous vous etes bien connecté 
        </p>
    </div>
{% endblock body %}